/* ========== Mantine settings ========== */

/* Common styles */
:root[data-mantine-color-scheme='light'] {
  --mantine-color-red-text: var(--mantine-color-red-7) !important;
  --mantine-color-blue-text: var(--mantine-color-blue-6) !important;
  --mantine-color-orange-text: var(--mantine-color-orange-5) !important;
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-red-text: var(--mantine-color-red-5) !important;
}

h2 {
  scroll-margin-top: 80px !important; /* fix hidden title under app header  */
}

/* Components styles */
.mantine-Notifications-root {
  --mantine-color-red-filled: var(--mantine-color-red-5) !important;
  --mantine-color-green-filled: var(--mantine-color-green-5) !important;
  --mantine-color-blue-filled: var(--mantine-color-blue-5) !important;
}

[data-mantine-color-scheme='light'] .mantine-Badge-root {
  --badge-color: var(--mantine-color-primary-5) !important;
  --badge-bg: var(--mantine-color-primary-1) !important;
}

[data-mantine-color-scheme='light'] .mantine-NavLink-root {
  --nl-color: var(--mantine-color-primary-5) !important;
}

[data-mantine-color-scheme='light'] .mantine-Avatar-root {
  --avatar-color: var(--mantine-color-primary-5) !important;
  --avatar-bg: var(--mantine-color-primary-1) !important;
}

[data-mantine-color-scheme='light'] .mantine-Anchor-root {
  --mantine-color-anchor: var(--mantine-color-primary-5) !important;
}

[data-mantine-color-scheme='dark'] .mantine-Anchor-root {
  --mantine-color-anchor: var(--mantine-color-primary-3) !important;
}

[data-mantine-color-scheme='light'] .mantine-Button-root {
  --mantine-color-red-filled: var(--mantine-color-red-5) !important;
  --mantine-color-red-filled-hover: var(--mantine-color-red-6) !important;
}

[data-mantine-color-scheme='dark'] .mantine-Button-root {
  --mantine-color-red-filled: var(--mantine-color-red-4) !important;
  --mantine-color-red-filled-hover: var(--mantine-color-red-5) !important;
}

[data-mantine-color-scheme='light'] .mantine-ActionIcon-root {
  --mantine-color-red-filled: var(--mantine-color-red-5) !important;
  --mantine-color-red-filled-hover: var(--mantine-color-red-6) !important;
}

[data-mantine-color-scheme='dark'] .mantine-ActionIcon-root {
  --mantine-color-red-filled: var(--mantine-color-red-4) !important;
  --mantine-color-red-filled-hover: var(--mantine-color-red-5) !important;
}

/* ========== Tabler settings ========== */
svg.tabler-icon {
  stroke-width: 1.6 !important;
}
