/* Light theme overrides */
[data-mantine-color-scheme='light'] .mantine-Badge-root {
  --badge-color: var(--mantine-color-primary-5) !important;
  --badge-bg: var(--mantine-color-primary-1) !important;
}

[data-mantine-color-scheme='light'] .mantine-NavLink-root {
  --nl-color: var(--mantine-color-primary-5) !important;
}

[data-mantine-color-scheme='light'] .mantine-Avatar-root {
  --avatar-color: var(--mantine-color-primary-5) !important;
  --avatar-bg: var(--mantine-color-primary-1) !important;
}
