/* ========== Mantine settings ========== */

/* Common styles */
:root[data-mantine-color-scheme='light'] {
  --mantine-color-red-text: var(--mantine-color-red-7) !important;
  --mantine-color-blue-text: var(--mantine-color-blue-6) !important;
  --mantine-color-orange-text: var(--mantine-color-orange-5) !important;
  --mantine-color-green-text: var(--mantine-color-green-6) !important;
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-red-text: var(--mantine-color-red-5) !important;
  --mantine-color-green-text: var(--mantine-color-green-5) !important;
  --mantine-color-primary-text: var(--mantine-color-primary-3) !important;
}

h2 {
  scroll-margin-top: 80px !important; /* fix hidden title under app header  */
}

/* Notifications */
.mantine-Notifications-root {
  --mantine-color-red-filled: var(--mantine-color-red-5);
  --mantine-color-green-filled: var(--mantine-color-green-5);
  --mantine-color-blue-filled: var(--mantine-color-blue-5);
}

/* Badge */
[data-mantine-color-scheme='light'] .mantine-Badge-root[data-variant='light'] {
  --badge-color: var(--mantine-color-primary-5) !important;
  --badge-bg: var(--mantine-color-primary-1) !important;
}

/* NavLink */
[data-mantine-color-scheme='light'] .mantine-NavLink-root {
  --nl-color: var(--mantine-color-primary-5);
}

/* Avatar */
[data-mantine-color-scheme='light'] .mantine-Avatar-root {
  --avatar-color: var(--mantine-color-primary-5) !important;
  --avatar-bg: var(--mantine-color-primary-1) !important;
}

/* Anchor */
[data-mantine-color-scheme='light'] .mantine-Anchor-root {
  --mantine-color-anchor: var(--mantine-color-primary-5) !important;
}

[data-mantine-color-scheme='dark'] .mantine-Anchor-root {
  --mantine-color-anchor: var(--mantine-color-primary-3) !important;
}

/* ActionIcon */
.mantine-ActionIcon-root[data-variant='transparent'] {
  --ai-color: var(--mantine-color-text) !important;
}

[data-mantine-color-scheme='light']
  .mantine-ActionIcon-root[data-variant='transparent'][data-input-section] {
  color: var(--mantine-color-gray-7);
}

[data-mantine-color-scheme='dark']
  .mantine-ActionIcon-root[data-variant='transparent'][data-input-section] {
  color: var(--mantine-color-dark-1);
}

/* CodeHighlight */
[data-mantine-color-scheme='light'] .mantine-CodeHighlight-codeHighlight {
  --mantine-color-anchor: var(--mantine-color-primary-5) !important;
}

[data-mantine-color-scheme='dark'] .mantine-CodeHighlight-codeHighlight {
  --mantine-color-anchor: var(--mantine-color-primary-3) !important;
}

/* ========== Tabler settings ========== */
svg.tabler-icon {
  stroke-width: 1.6 !important;
}

/* ========== CodeMirror editor settings ========== */
.cm-scroller {
  font-size: 14px;
}

.cm-panel {
  .cm-textfield {
    border: 1px solid var(--mantine-color-default-border);
    background: var(--mantine-color-default);
    border-radius: 4px;
    outline: none;
  }

  .cm-button {
    cursor: pointer;
    border: 1px solid var(--mantine-color-default-border);
    background: var(--mantine-color-default);
    border-radius: 4px;
  }

  input[type='checkbox'] {
    cursor: pointer;
  }
}
